<h1 style="margin-top: 60px; text-align:center; font-family: Century Gothic; color: #178FD6;">Александр Александрович Александров</h1>
<table>
    <tr>
        <td>
            <p><img src="../../assets/person.png" width="215" height="323" alt="Скоро найдется"></p>
        </td>
        <td>
            <p style=" margin-top: -30px; margin-bottom: 30px; margin-left: 100px; box-shadow: 0 0 0px;">
                <a href="http://localhost:4200/profile" style="color: rgb(145, 147, 150); text-decoration: none;">Редактировать</a></p>
            <p style=" margin-bottom: 30px; margin-left: 100px; box-shadow: 0 0 0px;"><u>Место учебы:</u> МОУ СОШ №1</p>
            <p style=" margin-bottom: 30px; margin-left: 100px; box-shadow: 0 0 0px;"><u>Адрес проживания:</u> Россия, г. Петрозаводск. ул. Мелентьевой, д.10</p>
            <p style=" margin-bottom: 30px; margin-left: 100px; box-shadow: 0 0 0px;"><u>Номер телефона:</u> +7 (123) 456 78 90</p>
            <p style=" margin-bottom: 30px; margin-left: 100px; box-shadow: 0 0 0px;"><u>Паспорт:</u> 0000 000000 выдан 10.10.2014 отделом УФМС по Республике Карелия в городе г.Петрозаводск</p>
            <p style=" margin-bottom: 30px; margin-left: 100px; box-shadow: 0 0 0px;"><u>Место учебы:</u> 01.01.2001</p>
        </td>
    </tr>
</table>

<h1 style="margin-top: 60px; text-align:center; font-family: Century Gothic; color: #178FD6;">Ранжировать приоритеты</h1>
<table><tr> <td><h1>1.</h1></td><td><h2>Санкт-Петербургский политехнический университет Петра Великого</h2></td></tr></table>
<table align= "center" width = "40%">
    <tr><td>1. Приборостроение</td><td>15.03.01</td></tr>
    <tr><td>2. Информационные системы и технологии</td><td>15.03.02</td></tr>
    <tr><td>3. Инноватика</td><td>15.03.03</td></tr>
</table>
<table><tr> <td><h1>2.</h1></td><td><h2>Санкт-Петербургский политехнический университет Петра Великого</h2></td></tr></table>
<table align= "center" width = "40%">
        <tr><td>1. Приборостроение</td><td>15.03.01</td></tr>
        <tr><td>2. Информационные системы и технологии</td><td>15.03.02</td></tr>
        <tr><td>3. Инноватика</td><td>15.03.03</td></tr>
        <tr><td>4. Приборостроение</td><td>15.03.01</td></tr>
        <tr><td>5. Приборостроение</td><td>15.03.01</td></tr>
</table>
<table><tr> <td><h1>3.</h1></td><td><h2>Санкт-Петербургский политехнический университет Петра Великого</h2></td></tr></table>
<table align= "center" width = "40%" style="margin-bottom: 100px;">
        <tr><td>1. Приборостроение</td><td>15.03.01</td></tr>
        <tr><td>2. Информационные системы и технологии</td><td>15.03.02</td></tr>
</table>