<section class="Container">
  <section class="Row">
    <section class="Column">
      <a routerLink="/general">Главная</a>
    </section>
    <section class="Column">
      <a routerLink="/mydocs">Мои документы</a>
    </section>
  </section>
  <section class="Row">
    <section class="Column">
      <a routerLink="/university">ВУЗы</a>
    </section>
    <section class="Column">
      <a routerLink="/rating">Мой рейтинг</a>
    </section>
  </section>
  <section class="Row">
    <section class="Column"></section>
    <section class="Column">
      <a routerLink="/commision">Приемная комиссия</a>
    </section>
  </section>
</section>