@{
    ViewData["Title"] = "Home Page";
}
@using System.Web

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <a href="/Home/Login?redirectUri=@Html.Raw(HttpUtility.UrlEncode("https://localhost:4200"))&sessionId=1234124" class="btn btn-default">Log In with VK</a>
}
else
{
   <span>вы залогинены</span>
}