<section class="container">
  <section class="Row">
    <section class="LinksColumn">
      <app-links></app-links>
    </section>
    <section class="InfoColumn">
      <section class="block">
        <img src="../../../assets/logo2.png"/>
      </section>
      <section class="block">
        Вся Россия
      </section>
      <strong>
        8(900) 123 45 67
      </strong>
      <section class="block">
        По вопросам сервиса
      </section>
      <strong>
        info@abi.com
      </strong>
      <section class="block">
        Для добавления персонала
      </section>
      <strong>
        codr@abi.com
      </strong>
    </section>
  </section>
</section>