.section {
    text-align: center;
    width: 100%;
    margin-bottom: 50px; 
}

.photo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; 
}
.specialization {
    text-align: center;
    width: 100%;
    margin-left: -40%;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.Post {
    text-align: center;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.contact {
    text-align: center;
    width: 100%;
    margin-left: -40%;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.Request {
    text-align: center;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px; 
}