<h1 style="margin-top: 60px; text-align:center; font-family: Century Gothic; font-size: 36px; line-height: 44px; color: #178FD6;">Мои баллы ЕГЭ</h1>
<table align= "center" style="margin-top: 50px; margin-bottom: 50px; width: 500px; ">
  <tr><td>Математика базовая</td><td>100</td></tr>
  <tr><progress id="progressbar" value="100" max="100" style="margin-bottom: 20px;"></progress></tr>
  <tr><td>Математика профильная</td><td>87</td></tr>
  <tr><progress id="progressbar" value="100" max="100 " style="margin-bottom: 20px;"></progress></tr>
  <tr><td>Биология</td><td>65</td></tr>
  <tr><progress id="progressbar" value="65" max="100" style="margin-bottom: 20px;"></progress></tr>
  <tr><td>Русский язык</td><td>89</td></tr>
  <tr><progress id="progressbar" value="89" max="100" style="margin-bottom: 20px;"></progress></tr>
  <tr><td>Информатика</td><td>74</td></tr>
  <tr><progress id="progressbar" value="74" max="100" style="margin-bottom: 20px;"></progress></tr>
  <tr><td>Физика</td><td>50</td></tr>
  <tr><progress id="progressbar" value="50" max="100" style="margin-bottom: 20px;"></progress></tr>
</table>