<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="330px">
    <mat-grid-tile *ngFor="let u of universities" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card" (click)="navigateTo(u.id)">
        <mat-card-header>
          <mat-card-title>
            {{u.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Закрой обратно!</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <span>Направления обучения:</span>
          <label *ngFor="let s of u.specializations; let i = index;">
            {{s.name}}
            <label *ngIf="i < u.specializations.length">, </label>
          </label>
          <section class="Row">
              <section class="Column">
                Средний балл: {{u.averageScore}}
              </section>
              <section class="Column">
                Минимальный балл: {{u.minScore}}
              </section>
              <section class="Column">
                  <button mat-button>
                    <mat-icon>chat_bubble_outline</mat-icon>
                    20
                  </button>
              </section>
          </section>
          <section class="Row">
            <section class="Column">
              <button mat-raised-button class="go-btn" (click)="goTo(u.site)">
                <span>Перейти на сайт </span>
                <mat-icon>directions_walk</mat-icon>
              </button>
            </section>
            <section class="Column">
              <button mat-raised-button class="add-btn">
                <span>Добавить в сравнение  </span>
                <mat-icon>star_border</mat-icon>
              </button>
            </section>
          </section>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>